*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

.calculator {
  width: 70vw;
  max-width: 500px;
  height: max-content;
  max-height: 90vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0.05rem 0.05rem 5px rgb(108, 108, 108);
  border-radius: 5px;
  font-weight: 550;
}

.output {
  text-align: right;
  padding: 1rem 0.2rem;
  background-color: #858694;
  color: whitesmoke;
  font-size: 1.5rem;
}

table {
  width: 100%;
  text-align: center;
}

td {
  border: 0.05rem solid #d2d2d2;
  padding: 0.7rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

td:active {
  transform: scale(0.9);
}

td:last-child {
  background-color: #f5913e;
}
